@import url('https://fonts.googleapis.com/css?family=Jaldi');

body {
    font-family: 'Jaldi', sans-serif;
    margin: 0;    
    
    background-color: #cccccc;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23cccccc' width='11' height='11'/%3E%3Crect fill='%23cdcac9' x='10' width='11' height='11'/%3E%3Crect fill='%23cdc7c6' y='10' width='11' height='11'/%3E%3Crect fill='%23cec5c3' x='20' width='11' height='11'/%3E%3Crect fill='%23cec3c0' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23cfc0bd' y='20' width='11' height='11'/%3E%3Crect fill='%23cfbeba' x='30' width='11' height='11'/%3E%3Crect fill='%23cfbcb7' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23d0b9b5' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23d0b7b2' y='30' width='11' height='11'/%3E%3Crect fill='%23d0b5af' x='40' width='11' height='11'/%3E%3Crect fill='%23d1b2ac' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23d1b0a9' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23d1aea6' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23d1aba3' y='40' width='11' height='11'/%3E%3Crect fill='%23d1a9a0' x='50' width='11' height='11'/%3E%3Crect fill='%23d1a79e' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23d1a49b' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23d1a298' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23d1a095' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23d19d92' y='50' width='11' height='11'/%3E%3Crect fill='%23d19b8f' x='60' width='11' height='11'/%3E%3Crect fill='%23d1988d' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23d1968a' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23d19487' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23d19184' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23d18f82' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23d18d7f' x='70' width='11' height='11'/%3E%3Crect fill='%23d08a7c' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23d08879' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23d08577' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23d08374' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23cf8171' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23cf7e6e' x='80' width='11' height='11'/%3E%3Crect fill='%23cf7c6c' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23ce7969' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23ce7766' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23ce7564' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23cd7261' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23cd705e' x='90' width='11' height='11'/%3E%3Crect fill='%23cc6d5c' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23cc6b59' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23cb6856' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23cb6654' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23ca6351' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23ca614f' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23c95e4c' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23c95b49' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23c85947' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23c75644' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23c75342' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23c6513f' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23c54e3d' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23c54b3a' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23c44838' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23c34535' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23c24233' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23c23f30' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23c13c2e' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23c0392b' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.main {
    display: flex;
    flex-direction: row;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

li:not(:last-child) {
    margin-bottom: 10px;
}

ul:last-child li:last-child {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #fff;
}

a:visited {
    color: #fff;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding: 0px 20px;

    background-color: #EC644B;
    color: #fff;
    font-size: 18px;

    flex-basis: 18%;
    
    opacity: 0;
    
    animation-name: slideIn;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
}

@keyframes slideIn {
    0% {
        opacity: 0;
    }
    
    100% {
       opacity: 1; 
    }
}

.nav a:hover {
    color: #DCDCDC;
    
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    flex-basis: 82%;
    position: relative;
}

.content h1 {
    color: #fff;
    font-size: 35px;
    margin: 0;
    
    animation-name: h1fromTop;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes h1fromTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    
    100% {
        transform: translateY(0px);
    }
}

.content p {
    color: #fff;
    font-size: 20px;
    padding: 0 150px;
    font-weight: bold;
    
    animation-name: textfromBottom;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

.content a {
    color: #C0392B;
    font-weight: bold;
    padding: 10px 28px;
    background-color: #fff;
    border-radius: 4px;
    
    animation-name: textfromBottom;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes textfromBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    
    100% {
        transform: translateY(0px);
    }
}

.content a:hover {
    background-color: #DCDCDC;
    
    transition-duration: 0.5s;
    transition-timing-function: linear;
}